VITE_APP_NAME=DEVFIN DEVELOPER
VITE_APP_TITLE_NAME=កណ្ដៀវ ប្រព័ន្ធគ្រប់គ្រង់ប្រាក់កម្ចី
VITE_CLIENT_ID=
VITE_CLIENT_SECRET=

# VITE_API_URL=http://2kandiev-api.test
VITE_API_URL=https://march-slingshot-astronaut.ngrok-free.dev
VITE_BASE_URL=http://localhost:5173

VITE_LOGIN_USERNAME=admin
VITE_LOGIN_PASSWORD=Admin@168
VITE_ENCRYPTION_SECRET=Hsrxx3xmrF67+DVwgpbJ1tg4rKuHG8+dcGKus7v2VyI=
VITE_FORCE_HMR=true

VITE_GOOGLE_MAPS_API_KEY=AIzaSyDqtt4jYaKwAkyIWDtIYTnbNPE2wZZBvsA
VITE_CLIENT_ID=9e0f33a0-4381-4055-8ca3-ce011ec3df7b